/* 
Pallette Colors

used as suggested by Shopify Polaris: https://polaris.shopify.com/design/colors#navigation

Main Indigo #5C6AC4
Secondary Yellow #EEC200
Success #50B83C
Failure #DE3618

*/
/* Shopify Polaris Typography Import Start */
html {
    /* Load system fonts */
    font-family: -apple-system, BlinkMacSystemFont, San Francisco, Segoe UI,
      Roboto, Helvetica Neue, sans-serif;
  
    /* Make type rendering look crisper */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  
    /* Disable auto-enlargement of small text in Safari */
    text-size-adjust: 100%;
  
    /* Enable kerning and optional ligatures */
    text-rendering: optimizeLegibility;
  }
  
  /**
   * Form elements render using OS defaults,
   * so font-family inheritance must be specifically declared
   */
  button,
  input,
  optgroup,
  select,
  textarea {
    font-family: inherit;
  }
/* Shopify Polaris Typography Import End */


/* Shared styles */
* {
    margin: 0;
    padding: 0;
    }

html, body {
    overflow-x: hidden;
}

body {
    background-color: #F4F5FA;
    color:#3E4155;
}

header {
    padding: 12px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

header h1 {
    font-size: 3em;
    align-self: center;
    padding: 12px;
}

header p {
    align-self: center;
}

button {
    background-color: #5C6AC4;
    color: white;
    padding: 12px;
    border-radius: 8px;
    border: none;
    font-size: 16px;
    box-shadow: 0 5px #666;

}

button:active {
    box-shadow: 0 1px #666;
    transform: translateY(4px);
    outline: none;
}

button:focus {
    outline: none;
}

/* Shared Classes */

.card {
    padding: 4px;
    border: 1px solid #B3BCF5;
    border-radius: 8px;
    box-shadow: 4px 4px 4px  #C4CDD5 ;
    margin: 12px;
}

.hidden {
    display: none !important;
}

.flex-center {
    display: flex;
    justify-content: center;
}

.row-wrap {
    flex-flow: row wrap;
}

.col-wrap {
    flex-flow: column wrap;
}

.disabled {
    background-color: #B3BCF5;
    cursor: not-allowed;
}

/* Search Bar Specific CSS */

.search-bar {
    padding: 8px;
    margin-top: 40px;
}

.search-bar input {
    padding: 8px;
    font-size: 1.2em;
    border-radius: 8px;
    margin-bottom: 8px;
}

.search-bar label {
    font-size: 1.2em;
}

/* Nomination Area Specific CSS */
.movie-nominations {
    padding: 12px
}

.movie-nominations h2 {
    
    text-align: center;
    
    padding: 12px;
}

.nomination-card {
    background-color: #F4F5FA;
    flex-direction: column;
    justify-content: space-evenly;
    height: 200px;
    width: 200px;
    transition: transform 0.2s ease-in;
}
.nomination-card:hover {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}

#movieNominationCards div{
    min-width: 0;
}

.nomination-card h2 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.nomination-card p {
    align-self: center;
}

.nomination-card button {
    background-color: #DE3618;
    color: white;
    outline-color: #BF0711;
}

/* Nomination Limit Banner CSS */
#nominationLimitBanner {
    overflow-x: hidden;    
    background-color: #B7ECEC;
    padding-top: 24px;
    padding-bottom: 24px;
    width: 90%;
    border-radius: 8px;
    border-top: solid 8px #47C1BF ;
    
}

#nominationLimitBanner div {
    width: 80%;
}

#nominationLimitBanner h3 {
    padding-bottom: 12px;
}

#nominationLimitBanner p {
    padding-bottom: 12px;
}

#closeBanner {
    align-self: flex-end;
    background-color: #47C1BF;
    color: #003135;
    width: 160px;
}

/* Search Results Specific CSS */
.results {
    padding: 12px;
    margin-top: 28px;

}

.results h2 {
    align-self: center;
    margin: 12px;
}

.movie-card {
    background-color: #F4F5FA;
    flex-flow: column nowrap;
    height: 420px;
    width: 250px;
    min-width: 0;
    transition: transform 0.2s ease-in;
}

.movie-card:hover {
    -webkit-transform: scale(1.5);
    -ms-transform: scale(1.5);
    transform: scale(1.5);
}

.movie-card h3 {
    align-content: center;
    text-align: center;
    padding: 4px;

    min-width: 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.movie-card p {
    align-self: center;
    padding: 4px;
}

.movie-card img {
    display: flex;
    justify-content: inherit;
    align-self: center;
    padding: 12px;
    width: 150px;
    height: 250px;
}

.movie-card button {
    display: flex;
    justify-content: inherit;
    margin: 12px;
}

/* No Results Display */

.no-movie {
    flex-flow: column wrap;
    align-self: center;
    text-align: center;
    max-width: 400px;
    padding: 12px;
}


/* Footer Specific CSS */

footer {
    flex-direction: column;
    padding: 40px;
    
}

footer h3 {
    align-self: center;
    margin-top: 24px;
}

footer a {
    align-self: center;
}

footer img { 
    max-width: 400px;
    margin: 40px
}

footer p {
    border-radius: 8px;
    border-top: solid 8px #EEC200 ;
    display: flex;
    justify-content: center;
    background-color: #FFEA8A;
    color: #8A6116;
    padding: 24px;
}