/* 
Pallette Colors

used as suggested by Shopify Polaris: https://polaris.shopify.com/design/colors#navigation

Main Indigo #5C6AC4
Secondary Yellow #EEC200
Success #50B83C
Failure #DE3618

*/
/* Shopify Polaris Typography Import Start */
html {
    /* Load system fonts */
    font-family: -apple-system, BlinkMacSystemFont, San Francisco, Segoe UI,
      Roboto, Helvetica Neue, sans-serif;
  
    /* Make type rendering look crisper */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  
    /* Disable auto-enlargement of small text in Safari */
    text-size-adjust: 100%;
  
    /* Enable kerning and optional ligatures */
    text-rendering: optimizeLegibility;
  }
  
  /**
   * Form elements render using OS defaults,
   * so font-family inheritance must be specifically declared
   */
  button,
  input,
  optgroup,
  select,
  textarea {
    font-family: inherit;
  }
/* Shopify Polaris Typography Import End */


/* Shared styles */
* {
    margin: 0;
    padding: 0;
    }



body {
    background-color: #F4F5FA;
    color:#3E4155;
}

header {
    padding: 12px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

header h1 {
    font-size: 3em;
    align-self: center;
    padding: 12px;
}

header p {
    align-self: center;
}

button {
    background-color: #5C6AC4;
    color: white;
    padding: 12px;
    border-radius: 8px;
    border: none;
    font-size: 16px;

}

/* Shared Classes */

.card {
    padding: 4px;
    border: 1px solid #B3BCF5;
    border-radius: 8px;
    box-shadow: 4px 4px 4px  #C4CDD5 ;
    margin: 4px;
}

.hidden {
    display: none !important;
}

.flex-center {
    display: flex;
    justify-content: center;
}

.row-wrap {
    flex-flow: row wrap;
}

.col-wrap{
    flex-flow: column wrap;
}


/* Search Bar Specific CSS */

.search-bar {
    padding: 8px;
}

.search-bar input {
    padding: 8px;
    font-size: 1.2em;
    border-radius: 8px;
}

.search-bar label {
    font-size: 1.2em;
}

/* Nomination Area Specific CSS */
.movie-nominations {
    padding: 12px
}

.movie-nominations h2 {
    align-self: center;
    padding: 12px;
}

.nomination-card {
    flex-direction: column;
    height: 200px;
}

.nomination-card p {
    align-self: center;
}

.nomination-card button {
    background-color: #FEAD9A;
    color: #BF0711;
    outline-color: #BF0711;
}


/* Search Results Specific CSS */
.results {
    padding: 12px;
    margin-top: 12px;

}

.results h2 {
    align-self: center;
    margin: 12px;
}

.movie-card-container {
    flex-flow: row wrap;
}

.movie-card {
    flex-flow: column wrap;
    align-self: center;
    width: 250px;
}
.movie-card h2 {
    align-self: center;
    padding: 4px;
}

.movie-card p {
    align-self: center;
    padding: 4px;
}

.movie-card img {
    display: flex;
    justify-content: inherit;
    padding: 12px;
}

.movie-card button {
    display: flex;
    justify-content: inherit;
    margin: 12px;
}

/* No Results Display */

.no-movie {
    flex-flow: column wrap;
    align-self: center;
    text-align: center;
    max-width: 400px;
    padding: 12px;
}


/* Footer Specific CSS */

footer {
    flex-direction: column;
    padding: 40px;
}

footer h3 {
    align-self: center;
    margin-top: 24px;
}

footer a {
    align-self: center;
}

footer img { 
    max-width: 400px;
    margin: 40px
}

footer p {
    display: flex;
    justify-content: center;
    background-color: #FFEA8A;
    color: #8A6116;
    padding: 24px;
}